:host {
  gap: 10px;
  flex-wrap: wrap;
  flex: 0 0 360px;

  > div {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding-bottom: 30px;
    width: 360px;

    > img {
      object-fit: cover;
      height: 190px;
      width: 100%;
    }
    
    > span {
      font-size: .75rem;
      font-weight: 500;
      height: 20px;
      color: #1b1a19;
      padding: 20px;
    }

    > h2 {
      font-size: 1.5rem;
      line-height: 1.5rem;
      height: 1.5rem;
      overflow: hidden;
      color: #1b1a19;
      font-weight: 600;
      padding: 0 20px;
    }
  }

}