<div app-hero
      title="Pirao"
      backgroundUrl="assets/images/art/painting_mestre_kapela.jpg"
      class="wd100"
      style="height: 780px;">
      The arts. Wood, clay, copper, reeds, ivory, shells, and the human body are the main media for Angolan decorative arts. The wooden sculptures of the Chokwe people, the carved ivories of Cabinda, and the elaborate hairstyles of the Nyaneka and Nkhumbi peoples are especially famous.
</div>
  
<div class="summary wd80 flex-col gap20">
  <h2>The Art</h2>
  <p class="justify-text">Angola still offers a pure and authentic experience for tourists. The decades-long civil war, which ended in 2002, meant that many regions were untouched by people and have been taken back by nature. Till the the years 2017, the Angolan visa was one of the hardest to get around the world.</p>  
  <p class="justify-text">Even though the country is gradually opening up to tourism, Angola is still not an easy destination to visit. Frequent power outages, car accidents caused by the tropical climate and poor road conditions, as well as general difficulties of a developing country make Angola an adventure not for the faint-hearted. For the locals this is normal everyday life, but for travelers from better organized countries, this can be a nerve-racking rehearsal.</p>
  <p class="justify-text">Please be aware that despite careful organization and preparation, not everything may go according to plan. From time to time external influences such as traffic or weather may impact plans. We always strive to make your stay as smooth as possible, but a country like Angola brings with it challenges that you might not expect in industrialized nations. In these circumstances, we will always make your safety a priority, rather than the planned event.</p>
</div>

<div class="attractions wd80 flex-col content-center align-center gap20">

  <div class="flex-col align-center acrylic pb50 pt30">
    <h2 class="self-center">Art Performers</h2>
    <section app-list4 class="wd90" [data]="data"></section>
  </div>
</div>