<div class="hero wd80 pt30">
  <h2 class="pb30">What you need to know before your trip</h2>
  <p class="pb20">In Angola, nurture your adventurous spirit. Far away from mass tourism, you will experience a pristine Africa, not polished for tourists. Experience the real country and get to know the people. Angola is an exceptional destination that offers you a unique experience such as ethnic groups, Mumuíla, Muhimba, Mucubal, Muacahones, Ngendelengue.</p>
</div>
        
<div class="summary wd80 flex-col gap20">
  <h2>Angola</h2>
  <p class="justify-text">Angola still offers a pure and authentic experience for tourists. The decades-long civil war, which ended in 2002, meant that many regions were untouched by people and have been taken back by nature. Till the the years 2017, the Angolan visa was one of the hardest to get around the world.</p>  
  <p class="justify-text">Even though the country is gradually opening up to tourism, Angola is still not an easy destination to visit. Frequent power outages, car accidents caused by the tropical climate and poor road conditions, as well as general difficulties of a developing country make Angola an adventure not for the faint-hearted. For the locals this is normal everyday life, but for travelers from better organized countries, this can be a nerve-racking rehearsal.</p>
  <p class="justify-text">Please be aware that despite careful organization and preparation, not everything may go according to plan. From time to time external influences such as traffic or weather may impact plans. We always strive to make your stay as smooth as possible, but a country like Angola brings with it challenges that you might not expect in industrialized nations. In these circumstances, we will always make your safety a priority, rather than the planned event.</p>
</div>

<div class="attractions wd80 flex-col content-center align-center gap20">

  <div class="flex-col align-center acrylic pb20 pt30">
    <h2 class="self-center">Turistic Sites</h2>
    <section app-list4 class="wd90"></section>
  </div>
  <div class="flex-col align-center acrylic dark pb20 pt30">
    <h2 class="self-center">The People</h2>
    <app-list1 class="wd90"></app-list1>
  </div>
  <div class="flex-col align-center acrylic pb20 pt30">
    
    <h2 class="self-center">Local Cousine</h2>
    <app-list2 class="wd90"></app-list2>
  </div>
  <div class="flex-col align-center acrylic dark pb20 pt30 wd100">
    <h2 class="self-center">The Local Stars</h2>    
    <app-list3 class="wd90"></app-list3>
  </div>
</div>