<div app-hero
      title="Pirao"
      backgroundUrl="assets/images/food/funge-2.jpg"
      class="wd100"
      style="height: 780px;">
      Funge, is a type of huge dumpling prepared using a mixture of cassava and green plantain flour. Both the ingredients are combined in equal portions with water and then cooked on a pan over a low flame. The prepared mixture is then moistened using lukewarm water and shaped into a ball.
      It is eaten with fingers and is used to scoop up other foods on the plate, particularly sauces and soups. Fufu is also a staple dish of many other countries throughout Africa.
</div>
        
<div class="summary wd80 flex-col gap20 pt20">
  <h2>Angolan Cousine</h2>
  <p class="justify-text">One of the many highlights of life in Angola is the cuisine. Highly influenced by food from Portugal, common Angolan ingredients include fish, chicken, onion, okra and sweet potato. One very common dish goes by the name of ‘Funge’. Funge is a simple, bland paste, often served as a side dish to meat and sauces, but in poorer households it is eaten for most meals. There are a few different types of funge, one of which is made from just corn flour and hot water. It is easy and cheap to make and is a staple in Angolan society.</p> 
  <p class="justify-text">Integer vitae nisi ut nibh tristique dapibus quis non lectus. Quisque quis placerat velit, ac porttitor mauris. Aliquam euismod tincidunt turpis, eget luctus elit hendrerit ac. Nam ut interdum purus. Duis consectetur purus id dictum sagittis. Aliquam laoreet ultricies sapien sed venenatis. Vivamus fermentum cursus euismod. Aliquam nulla urna, rhoncus vel nisl sit amet, porttitor sollicitudin augue. Morbi congue lorem sed orci dignissim egestas. Sed elementum rhoncus placerat.</p>
  <p class="justify-text">Nam ornare iaculis dui, in dignissim justo pulvinar eu. Fusce sit amet lectus non nisi vestibulum bibendum. Ut bibendum, diam laoreet tempor mattis, erat leo ultrices felis, sit amet aliquam dui nisi nec neque. Vivamus laoreet nec magna et suscipit. Vivamus faucibus, leo vulputate accumsan interdum, purus elit faucibus mi, vel viverra risus nisi vel tortor. Morbi eget arcu libero. Integer bibendum velit a tempus malesuada. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce nec rhoncus felis, quis feugiat magna. Donec eleifend blandit erat sed efficitur. </p>
</div>

<div class="attractions wd80 flex-col gap30 content-center align-center gap20">
  <div class="flex-col align-center gap30 dark pb20 pt30">
    <h2 class="self-center">The Food</h2>
    <app-list1 class="wd90" [data]="data"></app-list1>
  </div>
</div>